<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="text-center p-5">Rails Stupid Coaching</h1>
    <form action="/answer" data-turbo="false" class="text-center" method="patch">
      <input type="text" name="question" value="<%= params[:question] %>"placeholder="Ask the coach a question">
      <br><br>
      <input type="submit" value="Ask!" class="btn btn-success">
    </form>
    <%= yield %>
  </body>
</html>
